{% extends 'home/dashboard.html' %}
{% load static %}
{% block content %}
    <main id="main">
        <section class="posts">
            <div class="post">
                <div class="content">
                    <form method="post">{% csrf_token %}
                        <p>پاک کنی؟ "{{ object.title }}" مطمئنی که میخوای  </p>
                        {{ form }}
                        <br>
                        <div>
                            <input class="formbold-button" type="submit" value="تایید">
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
