{% extends 'home/dashboard.html' %}
{% load static %}
{% block title %}تغییر رمز عبور{% endblock %}
{% block content %}
    <div id="main">
        <section class="posts">
            <div class="post">
                <div class="formbold-main-wrapper">
                    <!-- Author: FormBold Team -->
                    <!-- Learn More: https://formbold.com -->
                    <div class="formbold-form-wrapper">
                        <h2 style="text-align: right; margin-bottom: 5px;">تغییر رمز عبور</h2>
                        <form method="post">
                            {% csrf_token %}

                            <div class="formbold-form-label">
                                <label>رمز عبور فعلی</label>
                                {{ form.old_password }}
                                {% if form.old_password.errors %}
                                    <div class="text-danger" style="font-size: 0.875rem; margin-top: 0.5rem;">
                                        {% for error in form.old_password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="formbold-form-label">
                                <label>رمز عبور جدید</label>
                                {{ form.new_password1 }}
                                {% if form.new_password1.errors %}
                                    <div class="text-danger" style="font-size: 0.875rem; margin-top: 0.5rem;">
                                        {% for error in form.new_password1.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="formbold-form-label">
                                <label>تأیید رمز عبور جدید</label>
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                    <div class="text-danger" style="font-size: 0.875rem; margin-top: 0.5rem;">
                                        {% for error in form.new_password2.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <button type="submit" class="formbold-btn">تغییر رمز</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


