{% extends 'home/dashboard.html' %}
{% load static %}
{% block title %}تغییر رمز عبور{% endblock %}
{% block content %}
    <div id="main">
        <section class="posts">
            <div class="post">
                    <p>رمز عبور شما با موفقیت تغییر کرد</p>

                    <button class="formbold-btn" style="margin-bottom: 10px; width: auto"><a style="color: #fefefe; text-decoration: none;" href="{% url 'home:dashboard' %}">بازگشت به صفحه داشبورد</a></button>
            </div>
        </section>
    </div>
{% endblock %}


